<footer class="footer">
	<div class="running-line running-line--top">
		<div class="scrolled-content">
			<span>Дело помощи утопающим — дело рук самих утопающих!</span>
			<span>Шахматы двигают вперед не только культуру, но и экономику!</span>
			<span>Лед тронулся, господа присяжные заседатели!</span>
			<span>Дело помощи утопающим — дело рук самих утопающих!</span>
			<span>Шахматы двигают вперед не только культуру, но и экономику!</span>
			<span>Лед тронулся, господа присяжные заседатели!</span>
		</div>
		<div class="scrolled-content">
			<span>Дело помощи утопающим — дело рук самих утопающих!</span>
			<span>Шахматы двигают вперед не только культуру, но и экономику!</span>
			<span>Лед тронулся, господа присяжные заседатели!</span>
			<span>Дело помощи утопающим — дело рук самих утопающих!</span>
			<span>Шахматы двигают вперед не только культуру, но и экономику!</span>
			<span>Лед тронулся, господа присяжные заседатели!</span>
		</div>
	</div>
	<div class="container">
		<p>
			Все персонажи, события и цитаты являются вымышленными и не принадлежат создателям сайта. С подробностями можно познакомиться в главе XXXIV романа Ильи Ильфа и Евгения Петрова «Двенадцать стульев».
		</p>
	</div>
</footer>
